---
import { type CollectionEntry } from "astro:content";
import PostMetaInfo from "./PostMetaInfo.astro";

interface Props {
  postList: CollectionEntry<"posts">[];
}

const { postList } = Astro.props;
---

<style>
  ul {
    margin-top: 1rem;
    list-style: none;
    padding-left: 0;
  }

  h2 > a {
    color: black;
  }

  li:not(:first-child) {
    margin-top: 2rem;
  }

  .meta-wrapper {
    margin-top: 0.25rem;
  }
</style>

<ul class="post-list">
  {
    postList
      .sort((left, right) => {
        return left.data.pubDate > right.data.pubDate ? -1 : 1;
      })
      .map((post) => (
        <li>
          <h2>
            <a href={`/posts/${post.slug}`}>{post.data.title}</a>
          </h2>
          <div class="meta-wrapper">
            <PostMetaInfo
            description={post.data.description}
            pubDate={post.data.pubDate}
            author={post.data.author}
            tags={post.data.tags}
            />
          </div>
        </li>
      ))
  }
</ul>
