---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostMetaInfo from "../components/PostMetaInfo.astro";

const { frontmatter } = Astro.props;
---

<style is:global>
  .blog-post-header {
    h1 {
      font-size: 2.5rem;
    }

    .meta {
      margin-top: 0.5rem;
    }

    .author-and-date {
      font-size: 0.875rem;
      font-style: italic;
      display: flex;
      gap: 0.25rem;
    }
  }

  .blog-post-body {
    margin-top: clamp(0.75rem, 3vw, 1.5rem);
    display: grid;
    grid-gap: 1.5rem;

    :not(h1, h2, h3, h4) {
      line-height: var(--long-form-line-height);
    }

    * + h2 {
      margin-top: clamp(0.5, 3vw, 1rem);
    }

    a {
      color: black;
    }
  }
</style>

<BaseLayout pageTitle={frontmatter.title}>
  <div class="blog-post-header">
    <h1>{frontmatter.title}</h1>
    <div class="meta">
      <PostMetaInfo
        description={frontmatter.description}
        pubDate={frontmatter.pubDate}
        author={frontmatter.author}
        tags={frontmatter.tags}
      />
    </div>
  </div>
  <div class="blog-post-body">
    <slot />
  </div>
</BaseLayout>
