---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostMetaInfo from "../components/PostMetaInfo.astro";

const { frontmatter } = Astro.props;
---

<style is:global>
  .meta {
    margin-top: 0.5rem;
  }

  @keyframes link-hover {
    0% {
      padding-bottom: 2px;
    }

    100% {
      padding-bottom: 4px;
    }
  }

  .blog-post-body {
    margin-top: 1.5rem;
    display: grid;
    grid-gap: 1.5rem;

    :not(h1, h2, h3, h4) {
      line-height: var(--long-form-line-height);
    }

    * + h2 {
      margin-top: 0.75rem;
    }

    a {
      color: black;
      text-decoration: none;
      background: linear-gradient(0deg, black, black) no-repeat left bottom;
      padding-bottom: 2px;
      background-size: 100% 2px;
    }

    a:hover {
      animation: 300ms 1 normal link-hover forwards;
    }
  }
</style>

<BaseLayout pageTitle={frontmatter.title}>
  <div class="blog-post-header">
    <h1>{frontmatter.title}</h1>
    <div class="meta">
      <PostMetaInfo
        description={frontmatter.description}
        pubDate={frontmatter.pubDate}
        author={frontmatter.author}
        tags={frontmatter.tags}
      />
    </div>
  </div>
  <div class="blog-post-body">
    <slot />
  </div>
</BaseLayout>
